*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.header{
    height: 1440px;
    width: 100%;
    background-color: rgba(255, 144, 14, 0.10);
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1140px;
	height: 250px;
}
.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav > h3{
    font-size: 44px;
    font-weight: 700;
    font-family: arial black;
    
}
.nav > ul {
	display: flex;
	font-size: 22px;
	gap: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.nav > ul > li > a{
   color: #424242;
    
}
.title-bar{
    display: flex;
    justify-content: center;
}
.title{
    height: 400px;
    width: 1140px;
}
.title > h1 {
	font-size: 70px;
	font-weight: 700;
	font-family: arial black;
	text-align: center;
}
.title > p {
	font-size: 28px;
	color: #727272;
	font-weight: 400;
	text-align: center;
	padding-top: 20px;
}
.title > a {
	padding: 30px 32px;
	background-color: #FF900E;
    color: white;
	margin-left: 40%;
	line-height: 4;
	border-radius: 10px;
	font-size: 33px;
    
}
.header > img{
        margin-left: 12%;
        padding-top: 30px;
    
}